<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue中多个元素或组件的过渡</title>
    <script src="../Vue.js"></script>
    <style>
        .v-enter, .v-leave-to {
            opacity: 0
        }
        .v-enter-active, .v-leave-active {
            transition: opacity 0.5s
        }

    </style>
</head>
<body>
    <div id="root">
        <!-- <transition mode='out-in'>
            <div v-if='show' key='1'>who is the man</div>
            <div v-else key='2'>I am the man</div>
        </transition> -->
        <!-- <transition mode='out-in'>
            <child-one v-if='show'></child-one>
            <child-two v-else></child-two>
        </transition> -->
        <transition mode='out-in'>
            <component :is='show?"child-one":"child-two"'></component>
        </transition>
        <!-- <transition mode='out-in'>
            <component :is='type'></component>
        </transition> -->
        <button @click='onClick'>button</button>
    </div>
    <script>
        Vue.component('child-one', {
            template: '<div>child-one dsfsf</div>'
        })
        Vue.component('child-two', {
            template: '<div>child-two</div>'
        })
        var vm = new Vue({
            el: '#root',
            data: {
                show: false,
                // type: 'child-one'
            },
            methods: {
                onClick: function() {
                    this.show = !this.show
                    // this.type = this.type === 'child-one' ? 'child-two' : 'child-one'
                }
            }
        })
    </script>
</body>
</html>
